<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>


    <body id="page-top">
        <!-- config -->
        <th:block th:replace="~{/common/fragments/config :: configFragment}"></th:block>
        <div id="wrapper">

            <th:block th:replace="~{/common/fragments/adminSidebar :: sidebarFragment}"></th:block>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <!-- header -->
                    <th:block th:replace="~{/common/fragments/header :: headerFragment}"></th:block>

                    <div class="container-fluid" style="min-height: 100vh;">
                        <th:block th:replace="~{/common/fragments/userMenubar :: menuBarFragment}"></th:block>
                        <!-- content -->
                        <th:block layout:fragment="content"></th:block>
                    </div>
                </div>

                <!-- footer -->
                <th:block th:replace="~{/common/fragments/footer :: footerFragment}"></th:block>
            </div>
        </div>
    </body>
</html>