<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <!-- config -->
    <th:block th:replace="~{/common/fragments/config :: configFragment}"></th:block>
    <!-- header -->
    <body id="page-top">
        <div id="wrapper">
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <th:block th:replace="~{/common/fragments/header :: headerFragment}"></th:block>
                    <th:block th:replace="~{/common/fragments/userMenubar :: menuBarFragment}"></th:block>
                    <div class="container">
                        <th:block th:replace="~{/common/fragments/adminSidebar :: sidebarFragment}"></th:block>
                        <!-- content -->
                        <div id="contentDiv">
                            <th:block layout:fragment="content"></th:block>
                        </div>
                    </div>
                </div>

                <!-- footer -->
                <th:block th:replace="~{/common/fragments/footer :: footerFragment}"></th:block>
            </div>
        </div>
    </body>
</html>