<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>어드민 권한관리 화면 입니다.</title>
</head>
<body>
<h1>
  어드민 권한관리 화면 이라네요
</h1>

<div class="buttonDiv-row">
    <div class="adminAuthButton" th:each="roleType : ${roleTypes}" >
        <button type="button" th:if="${roleType.code == 'SYSTEM' && isRole == 'SYSTEM'}" th:onclick="goPage([[${roleType.code}]])">
            <span th:text="${roleType.code}">Button Name</span>
        </button>
        <button type="button" th:if="${roleType.code != 'SYSTEM'}" th:onclick="goPage([[${roleType.code}]])">
            <span th:text="${roleType.code}">Button Name</span>
        </button>
    </div>
</div>

<div class="listDiv">
    <form th:action="${formUrl} + '/cud'" method="post" name="userForm">
<!--        <input type="hidden" name="roleType" th:value="${roleType}">-->
        <div class="userMenuList">
            <div class="menuList">
                <ul>
                    <li>메뉴 ID</li>
                    <li>메뉴 명</li>
                    <li>메뉴 URL</li>
                    <li>상위 메뉴</li>
                    <li>보기</li>
                    <li>수정</li>
                </ul>
            </div>
            <div class="menuList" th:if="${authResult.userMenuRoleList.size() <= 0}">
                등록된 사용자 메뉴가 없습니다.
            </div>
            <div class="menuList" th:if="${authResult.userMenuRoleList.size() > 0}">
                <ul th:each="menuResult : ${authResult.userMenuRoleList}">
                    <input type="hidden" name="chkMenuId" th:value="${menuResult.menuId}" >
                    <li><span th:text="${menuResult.menuId}">menuId</span></li>
                    <li><span th:text="${menuResult.menuName}">menuNm</span></li>
                    <li><span th:text="${menuResult.menuUrl}">menuUrl</span></li>
                    <li><span th:text="${menuResult.parentId}">parentId</span></li>
                    <li>
                        <input type="checkbox" name="menuId"
                               th:id="'view_' + ${menuResult.menuId}"
                               th:value="${menuResult.menuId}"
                               th:checked="${menuResult.roleMenuResult.roleId != null}"
                               th:onclick="toggleCheckbox([[${menuResult.menuId}]])"
                        >
                    </li>
                    <li>
                        <input type="checkbox" name="cudMenuId"
                               th:id="'cud_' + ${menuResult.menuId}"
                               th:value="${menuResult.menuId}"
                               th:checked="${menuResult.roleMenuResult.isCud != null && menuResult.roleMenuResult.isCud == 'Y'}"
                               th:disabled="${menuResult.roleMenuResult.roleId == null}"
                        >
                    </li>
                    <div class="menuList">
                        <ul th:each="childMenu : ${menuResult.childMenu}" >
                            <input type="hidden" name="chkMenuId" th:value="${childMenu.menuId}">
                            <li><span th:text="${childMenu.menuId}">menuId</span></li>
                            <li><span th:text="${childMenu.menuName}">menuNm</span></li>
                            <li><span th:text="${childMenu.menuUrl}">menuUrl</span></li>
                            <li><span th:text="${childMenu.parentId}">parentId</span></li>
                            <li>
                                <input type="checkbox" name="menuId"
                                       th:id="'view_' + ${childMenu.menuId}"
                                       th:value="${childMenu.menuId}"
                                       th:checked="${childMenu.roleMenuResult.roleId != null}"
                                       th:onclick="toggleCheckbox([[${childMenu.menuId}]])"
                                >
                            </li>
                            <li>
                                <input type="checkbox" name="cudMenuId"
                                       th:id="'cud_' + ${childMenu.menuId}"
                                       th:value="${childMenu.menuId}"
                                       th:checked="${childMenu.roleMenuResult.isCud != null && childMenu.roleMenuResult.isCud == 'Y'}"
                                       th:disabled="${childMenu.roleMenuResult.roleId == null}"
                                >
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>        </div>
        <button type="submit">
            저장
        </button>
    </form>
    <form th:action="${formUrl} + '/cud'" method="post" name="adminForm">
<!--        <input type="hidden" name="roleType" th:value="${roleType}">-->
        <div class="adminMenuList">
            <div class="menuList">
                <ul>
                    <li>메뉴 ID</li>
                    <li>메뉴 명</li>
                    <li>메뉴 URL</li>
                    <li>상위 메뉴</li>
                    <li>보기</li>
                    <li>수정</li>
                </ul>
            </div>
            <div class="menuList" id="test1" th:if="${authResult.adminMenuRoleList.size() <= 0 }">
                등록된 관리자 메뉴가 없습니다.
            </div>
            <div class="menuList" id="test2" th:if="${authResult.adminMenuRoleList.size() > 0 }">
                <ul th:each="menuResult : ${authResult.adminMenuRoleList}">
                    <input type="hidden" name="chkMenuId" th:value="${menuResult.menuId}" >
                    <li><span th:text="${menuResult.menuId}">menuId</span></li>
                    <li><span th:text="${menuResult.menuName}">menuNm</span></li>
                    <li><span th:text="${menuResult.menuUrl}">menuUrl</span></li>
                    <li><span th:text="${menuResult.parentId}">parentId</span></li>
                    <li>
                        <input type="checkbox" name="menuId"
                                th:id="'view_' + ${menuResult.menuId}"
                                th:value="${menuResult.menuId}"
                                th:checked="${menuResult.roleMenuResult.roleId != null}"
                                th:onclick="toggleCheckbox([[${menuResult.menuId}]])"
                        >
                    </li>
                    <li>
                        <input type="checkbox" name="cudMenuId"
                               th:id="'cud_' + ${menuResult.menuId}"
                               th:value="${menuResult.menuId}"
                               th:checked="${menuResult.roleMenuResult.isCud != null && menuResult.roleMenuResult.isCud == 'Y'}"
                               th:disabled="${menuResult.roleMenuResult.roleId == null}"
                        >
                    </li>
                    <div class="menuList">
                        <ul th:each="childMenu : ${menuResult.childMenu}" >
                            <input type="hidden" name="chkMenuId" th:value="${childMenu.menuId}">
                            <li><span th:text="${childMenu.menuId}">menuId</span></li>
                            <li><span th:text="${childMenu.menuName}">menuNm</span></li>
                            <li><span th:text="${childMenu.menuUrl}">menuUrl</span></li>
                            <li><span th:text="${childMenu.parentId}">parentId</span></li>
                            <li>
                                <input type="checkbox" name="menuId"
                                       th:id="'view_' + ${childMenu.menuId}"
                                       th:value="${childMenu.menuId}"
                                       th:checked="${childMenu.roleMenuResult.roleId != null}"
                                       th:onclick="toggleCheckbox([[${childMenu.menuId}]])"
                                >
                            </li>
                            <li>
                                <input type="checkbox" name="cudMenuId"
                                       th:id="'cud_' + ${childMenu.menuId}"
                                       th:value="${childMenu.menuId}"
                                       th:checked="${childMenu.roleMenuResult.isCud != null && childMenu.roleMenuResult.isCud == 'Y'}"
                                       th:disabled="${childMenu.roleMenuResult.roleId == null}"
                                >
                            </li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
        <button type="submit">
            저장
        </button>
    </form>
</div>

<!--<th:block th:replace="~{/admin/menu/listPage :: list}"></th:block>-->
<button type="button" th:onclick="|location.href='@{/admin/home/main}'|">
    뒤로가기
</button>

<style>
.listDiv {
    display: inline-flex;
    width: 100%;
}
.listDiv > form {
    border: solid 1px;
    width: 50%;
}
.listDiv > form > div {
    width: 100%;
}
.menuList {
    width: 100%;
}

.menuList > ul {
    width: 100%;
}

.menuList > ul > li {
    display: inline-block;
    width: 15%;
}

.depth2 > ul {
    width: 100%;
}

.depth2 > ul > li {
    display: inline-block;
    width: 19%;
}
</style>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // 페이지가 로드되자마자 실행될 JavaScript 코드
        const successMessage = '[[${successMessage}]]';
        if (successMessage) {
            alert(successMessage); // 팝업 메시지
        }
    });

    function goPage(roleType){
        location.href = "/admin/auth/main/"+roleType;
    }

    function toggleCheckbox(menuId) {
            const checkbox1 = document.getElementById('view_'+menuId);
            const checkbox2 = document.getElementById('cud_'+menuId);

            // 1번 체크박스가 체크되어 있으면 2번 체크박스를 활성화
            if (checkbox1.checked) {
                checkbox2.disabled = false;
            } else {
                checkbox2.checked = false; // 1번 체크박스가 체크 해제되면 2번 체크박스도 해제
                checkbox2.disabled = true; // 2번 체크박스를 비활성화
            }
        }
</script>
</body>
</html>