<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
    <head>
        <meta charset="UTF-8">
        <title>게시판 홈 화면 입니다.</title>
    </head>
    <body>
        <h6>
          게시판 홈 화면
        </h6>
        <div>
            <button type="button" th:onclick="goPostCreate()">
                게시글 작성
            </button>
        </div>
        <div style="border: 2px solid; ">
            <form name="searchForm" action="/post/main"  method="get" th:object="${searchPostPayload}"
                style="display: flex; justify-content: right;"
            >
                <div id="postTypeDiv">
                    <select th:field="*{postType}">
                        <option value="">-전체-</option>
                        <option th:each="postType : ${postTypeList}" th:text="${postType.codeName}" th:value="${postType.code}"></option>
                    </select>
                </div>
                <div id="corpDiv">
                    <input type="text" id="searchStockName" placeholder="기업명 검색" th:onchange="getStockCode()">
                    <input type="hidden" th:field="*{searchStockCode}">
                    <select id="corpDetailSelect" th:onchange="setStockCode()">
                        <option value="">-전체-</option>
                        <option th:each="corpDetail : ${corpDetailList}" th:utext="${corpDetail.stockName}" th:value="${corpDetail.stockCode}" ></option>
                    </select>
                </div>
                <div id="textDiv">
                    <select th:field="*{searchType}">
                        <option value="01">제목</option>
                        <option value="02">제목 + 내용</option>
                        <option value="03">작성자</option>
                    </select>
                    <input type="text" th:field="*{searchText}" placeholder="검색어를 입력하세요."/>
                </div>
                <button type="button" th:onclick="searchPost()">검색</button>
            </form>
        </div>

        <div>
            <table id="postListTable">
                <tr>
                    <td>번호</td>
                    <td>구분</td>
                    <td>기업명</td>
                    <td>제목</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
                <tr th:each="post : ${postList}">
                    <td th:text="${post.postId}"/>
                    <td th:text="${post.postType}"/></td>
                    <td th:text="${post.stockName}"/>
                    <td><a th:href="|/post/view/${post.postId}|" th:text="${post.postTitle}"></a></td>
                    <td th:text="${post.postWriter}"/>
                    <td th:text="${post.createDttm}"/>
                    <td th:text="${post.postViewrs}"/>
                </tr>
            </table>
        </div>
    </body>

    <script >
        document.addEventListener('DOMContentLoaded', function() {
            searchPost();
        });

        function getStockCode(){

            const searchStockName = $('#searchStockName').val();
            const searchPostPayload = {
                searchStockName : searchStockName
            }
            console.log("searchStockName : " + searchStockName);
            console.log("searchPostPayload : "+searchPostPayload);

            $.ajax({
                url: "/ajax/stock/search",
                data: searchPostPayload,
                type: 'POST',
                success:function(data){
					$("#corpDetailSelect").replaceWith(data);
				}
            })
        }

        function setStockCode(){
            const selectedValue = $("#corpDetailSelect").val();
            $("#searchStockCode").val(selectedValue)
        }

        function goPostCreate(){
            location.href = "/post/write";
        }

        function searchPost(){
            var searchPostPayload = $("form[name=searchForm]").serialize() ;

            console.log("queryString : "+searchPostPayload);

            $.ajax({
                url: "/ajax/post/search",
                data: searchPostPayload,
                type: 'POST',
                success:function(data){
					$("#postListTable").replaceWith(data);
				}
            })
        }
    </script>
</html>