<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
    <head>
        <meta charset="UTF-8">
        <title>게시판 홈 화면 입니다.</title>
    </head>
    <body>
        <h6>
          게시글 작성 화면
        </h6>
        <div style="border: 2px solid;">
                <table>
                    <tr>
                        <td>
                            구분 :
                        </td>
                        <td>
                            <label th:if="${postResult.postType == '01'}">자유</label>
                            <label th:if="${postResult.postType == '02'}">기업</label>
                        </td>
                        <td>
                            <label th:if="${postResult.postType == '02'}">기업명 : </label>
                        </td>
                        <td>
                            <label th:if="${postResult.postType == '02'}">[[${postResult.stockName}]]</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            제목 :
                        </td>
                        <td colspan="3">
                            <label th:text="${postResult.postTitle}"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            내용 :
                        </td>
                        <td colspan="3">
                            <label id="detailArea">
                                [[${postResult.postDetail}]]
                            </label>
                        </td>
                    </tr>
                </table>
        </div>
        <div style="border: 2px solid;">
            <table id="replyTable">
            </table>
        </div>

        <div class="myBorderDiv">
            <div id="replyTitle">
                댓글
            </div>
            <form th:object="${replyPayload}" name="replyForm" action="/post/reply/cud" method="post">
                <input type="hidden" th:field="*{postId}" th:value="${postResult.postId}" placeholder="postId">
                <input type="hidden" th:field="*{replyId}" placeholder="replyId">
                <input type="hidden" th:field="*{parentId}" placeholder="parentId">
                <input type="hidden" th:field="*{supperId}" placeholder="supperId">
                <input type="hidden" th:field="*{replyDepth}" placeholder="replyDepth">
                <article id="replyArticle">
                    <div>
                        [[${userInfo.userName}]]
                    </div>
                    <div style="flex : 8;">
                        <textarea th:field="*{replyDetail}">

                        </textarea>
                    </div>
                    <div>
                        <button type="submit">작성</button>
                        <button type="button" th:onclick="valueChk()">확인</button>
                    </div>
                </article>
            </form>
        </div>


    </body>

    <script th:inline="javascript">

        var replyResultList = [[${postResult.replyResultList}]];

        var selectedReplyId = 0;

        $(document).ready(function() {
            replyLoop(replyResultList);
        });

        function replySelect(parentId,supperId,replyDepth) {
            if(selectedReplyId != parentId) {
                selectedReplyId = parentId;
                $("#parentId").val(parentId);
                if(replyDepth > 0 ){
                    $("#supperId").val(supperId);
                }else{
                    $("#supperId").val(parentId);
                }
                $("#replyDepth").val(replyDepth+1);
                $("#replyTitle").text(" -> "+parentId + "번 답글");
            }else{
                selectedReplyId = 0;
                $("#parentId").val('');
                $("#supperId").val('');
                $("#replyDepth").val(0);
                $("#replyTitle").text("댓글");
            }
        }

        function searchReply(){
            const replyPayload = {
                postId : $("#postId").val()
            }

            console.log("searchReply start !!!");

            $.ajax({
                url: "/ajax/reply/search",
                data: replyPayload,
                type: 'POST',
                success:function(data){
                    console.log("data : "+data);
					$("#replyListTable").replaceWith(data);
				}
            })
        }



        function valueChk() {
            const val1 =  $("#postId").val();
            const val2 =  $("#replyId").val();
            const val3 =  $("#parentId").val();
            const val4 =  $("#supperId").val();

            console.log(val1 +" / "+val2 +" / "+val3 +" / "+val4);

            const replyPayload = $("form[name=replyForm]").serialize() ;

            console.log("queryString : "+replyPayload);
        }

        function replyLoop(list) {

            for(var i=0; i<list.length; i++){
                var space = "";
                var depth = list[i].replyDepth;

                for(var j=0; j<depth; j++) { space += "\u00a0\u00a0"; }
                if(depth > 0) { space += "→"}

                var innerHtml = "<tr>";
                innerHtml += "<td>"+space+list[i].replyWriter+"</td>";
                innerHtml += "<td>"+list[i].replyDetail+"</td>";
                innerHtml += "<td><a id=\"replyButton\" onclick=\"replySelect("+list[i].replyId+","+list[i].supperId+","+list[i].replyDepth+")\">답글</a></td>";
                innerHtml += "</tr>";

                $("#replyTable").append(innerHtml);
                replyLoop(list[i].childReplyList);
            }
        }


    </script>

    <style>
        #replyArticle {
            display : flex;
            align-items : center;
        }

        #replyArticle > div {
            flex : 1;
            text-align: -webkit-center;
        }

        #replyArticle > div > button {
            padding: 15px 25px;
        }

        #replyDetail {
            border : 1px solid;
            height : 100px;
            width : 95%;
        }
    </style>
</html>