<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
    <head>
        <meta charset="UTF-8">
        <title>게시판 홈 화면 입니다.</title>
    </head>
    <body>
        <h6>
          게시글 작성 화면
        </h6>
        <div style="border: 2px solid;">
            <form name="postViewForm" action="/post/create/cud"  method="post" th:object="${postViewPayload}">
                <input type="hidden" th:field="*{postId}">
                <table>
                    <tr>
                        <td>
                            구분 :
                        </td>
                        <td>
                            <select th:field="*{postType}">
                                <option value="">-전체-</option>
                                <option value="01">자유</option>
                                <option value="02">기업</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" id="searchStockName" placeholder="기업명 검색" th:onchange="getStockCode()">
                            <input type="hidden" th:field="*{stockName}">
                            <input type="hidden" th:field="*{stockCode}">
                            <select id="corpDetailSelect" th:onchange="setStockCode()" th:value="${postViewPayload.stockCode}">
                                <option value="">-전체-</option>
                                <option th:each="corpDetail : ${corpDetailList}" th:text="${corpDetail.stockName}" th:value="${corpDetail.stockCode}" ></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            제목 :
                        </td>
                        <td colspan="3">
                            <input type="text" placeholder="게시글 제목" th:field="*{postTitle}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            내용 :
                        </td>
                        <td colspan="3">
                            <label>
                                <textarea th:field="*{postDetail}">
                                </textarea>
                            </label>
                        </td>
                    </tr>
                </table>
                <button type="submit" th:if="${postViewPayload.postId == null}">작성</button>
                <button type="submit" th:if="${postViewPayload.postId != null}">수정</button>
            </form>
        </div>
    </body>

    <script >
        function getStockCode(){

            const searchStockName = $('#searchStockName').val();
            const postSearchPayload = {
                searchStockName : searchStockName
            }

            $.ajax({
                url: "/ajax/stock/search",
                data: postSearchPayload,
                type: 'POST',
                success:function(data){
					$("#corpDetailSelect").replaceWith(data);
				}
            })
        }

        function setStockCode(){
            const text = $("#corpDetailSelect option:selected").text();
            const value = $("#corpDetailSelect").val();
            $("#stockName").val(text);
            $("#stockCode").val(value);
        }
    </script>

    <style>
        #detailArea {
            width : 90%;
            height : 200px;
        }

    </style>
</html>