<html xmlns:th="http://www.thymeleaf.org">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar"
        th:fragment="sidebarFragment" th:if="${curPage == 'ADMIN'}"
    >
        <a class="sidebar-brand d-flex align-items-center justify-content-center"
           th:onclick="|location.href='@{/home/main}'|"
        >
            <div class="sidebar-brand-text mx-3">주토피아 <sup>2</sup></div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item active" >
            <a class="nav-link" th:onclick="|location.href='@{/admin/menu/main/USER}'|" style="cursor: pointer;">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>메뉴 관리</span></a>
        </li>
        <li class="nav-item active" >
            <a class="nav-link" th:onclick="|location.href='@{/admin/auth/main/VISITOR}'|" style="cursor: pointer;">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>권한 관리</span></a>
        </li>
        <hr class="sidebar-divider">
    </ul>
</html>