<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="headerFragment">
        <div id="headerDiv">
            <div id="headerDiv-button">
                <div class="sidebarDiv" >
                    <button type="button" th:onclick="toggleActiveSidebar()" >사이드바버튼</button>
                </div>
                <div class="titleDiv">
                    <button type="button" th:onclick="|location.href='@{/home/main}'|" >주토피아</button>
                </div>
                <div id="activeDiv" class="authDiv" th:if="${isRole != 'VISITOR'}">
                    <button type="button" th:onclick="|location.href='@{/auth/logout}'|" >로그아웃</button>
                    <button type="button" th:if="${isAdmin}" th:onclick="|location.href='@{/admin/home/main}'|">관리자 메인 이동</button>
                    <button type="button" th:if="${isAdmin}" th:onclick="|location.href='@{/home/main}'|">사용자 메인 이동</button>
                </div>
                <div id="inActiveDiv" class="authDiv" th:if="${isRole == 'VISITOR'}">
                    <button type="button" th:onclick="|location.href='@{/auth/login}'|" >로그인</button>
                </div>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // 페이지가 로드되자마자 실행될 JavaScript 코드
            const serverMessage = '[[${serverMessage}]]';

            if (serverMessage) {
                alert(serverMessage); // 팝업 메시지
            }
        });
    </script>
</html>