<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebarFragment" id="sidebarDiv">
        사이드바 영역
        <div id="sidebarDiv-button" th:each="sideBarMenu : ${sideBarMenus}">
            <div>
                <button type="button" th:onclick="|location.href='@{${sideBarMenu.menuUrl}}'|">
                    <span th:text="${sideBarMenu.menuName}">Button Name</span>
                </button>
            </div>
            <div th:each="childMenu : ${sideBarMenu.childMenu}" >
                <button type="button" th:onclick="|location.href='@{${sideBarMenu.menuUrl}}'|">
                    <span th:text="${childMenu.menuName}">Button Name</span>
                </button>
            </div>
        </div>
    </div>
</html>