<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="menuBarFragment" th:if="${curPage == 'USER'}">
        <div id="menuBarDiv">
            <div id="menuBarDiv-button">
                <button type="button" th:onclick="|location.href='@{/admin/menu/main/USER}'|">
                    관리자 메뉴 화면 이동
                </button>
                <button type="button" th:onclick="|location.href='@{/admin/auth/main/VISITOR}'|">
                    관리자 권한 화면 이동
                </button>
            </div>
        </div>
    </nav>
</html>