<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
    <head>
        <meta charset="UTF-8">
        <title>사용자 종목찾기 화면 입니다.</title>
    </head>
    <body>
        <h6>
          사용자 종목찾기 화면
        </h6>
        <div style="border: 2px solid; ">
            <form name="searchForm" method="get" th:object="${searchCorpPayload}"
                  style="display: flex; justify-content: right;"
            >
                <div id="bsnsDiv">
                    <input type="text" th:field="*{startBsnsYear}" placeholder="시작년도">
                    ~
                    <input type="text" th:field="*{endBsnsYear}" placeholder="종료년도">
                </div>
                <div id="accountDiv">
                    <input type="checkbox" th:field="*{accountIds}" th:value="ifrs-full_Revenue"> <label>매출액</label>
                    <input type="checkbox" th:field="*{accountIds}" th:value="dart_OperatingIncomeLoss"> <label>영업이익</label>
                    <input type="checkbox" th:field="*{accountIds}" th:value="ifrs-full_ProfitLoss"> <label>당기순이익</label>
                    <input type="checkbox" th:field="*{accountIds}" th:value="ifrs-full_BasicEarningsLossPerShare"> <label>EPS</label>
                </div>
                <div id="textDiv">
                    <input type="text" th:field="*{stockName}" placeholder="기업명 검색">
                    <input type="text" th:field="*{growthRate}" placeholder="성장률 검색">
                </div>
                <button type="button" th:onclick="searchCorp()">검색</button>
            </form>

        </div>

        <div>
            <table id="corpListTable">
                <tr>
                    <td>기업명</td>
                    <td>계정명</td>
                    <td>기업명</td>
                    <td>실적</td>
                    <td>작성자</td>
                    <td>작성일</td>
                    <td>조회수</td>
                </tr>
            </table>
        </div>
    <script>
        function searchCorp(){
            var searchCorpPayload = $("form[name=searchForm]").serialize() ;

            console.log("queryString : "+searchCorpPayload);

            $.ajax({
                url: "/ajax/corp/search",
                data: searchCorpPayload,
                type: 'POST',
                success:function(data){
					$("#corpListTable").replaceWith(data);
				}
            })
        }
    </script>
    </body>
</html>