<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>어드민 기업데이터 관리 화면입니다.</title>
</head>
<body>
    <h6>
      어드민 기업데이터 관리 화면.
    </h6>

    <div class="a">
        <div style="border: 2px solid;">
            재무정보 업로드
            <form action="/admin/util/dart/corp/report" name="exform" method="post" enctype="multipart/form-data"  th:object="${mergeCorpReportPayload}" >
                <input type="hidden" th:field="*{quarterlyReportName}" value=""/>
                <table>
                    <tr>
                        <td colspan="2"><input type="text" th:field="*{bsnsYear}" class="requiredChk" value="" title="보고서 년도"></td>
                    </tr>
                    <tr>
                        <td>
                            <select th:field="*{quarterlyReportCode}" class="requiredChk" title="보고서 분기 선택">
                                <option th:each="quarterlyReportType : ${quarterlyReportTypeList}" th:value = "${quarterlyReportType.code}" th:utext="${quarterlyReportType.codeName}" ></option>
                            </select>
                        </td>
                        <td>
                            <select th:field="*{reportType}" class="requiredChk" title="보고서 타입 선택">
                                <option th:each="reportType : ${reportTypeList}" th:value = "${reportType.code}" th:utext="${reportType.codeName}" ></option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td><button onclick="submit()" >엑셀 업로드</button></td>
                    </tr>
                </table>
            </form>
        </div>


        <div style="border: 2px solid;">
            기업정보(xml) 업로드
            <form action="/admin/util/dart/corp" method="post" name="corpForm" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td colspan="2"><input type="file" name="file" /></td>
                    </tr>
                    <tr>
                        <td><button onclick="submit()" >XML 업로드</button></td>
                    </tr>
                </table>

            </form>
        </div>

        <div style="border: 2px solid;">
            기업 상세정보 현행화
            <form action="/admin/util/dart/corp/detail" method="post" name="corpDetailForm" th:object="${mergeCorpDetailPayload}" >
                <table>
                    <tr>
                        <td>
                            <select th:field="*{gubn}" class="" title="최신화사업장 대상 구분선택" >
                                <option value = "">전체</option>
                                <option value = "01">상장기업 기준</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="text" th:field="*{page}" value="" class="" title="Page 번호">
                        </td>
                    </tr>
                    <tr>
                        <td><button onclick="submit()" >사업장 최신화</button></td>
                    </tr>
                </table>
            </form>
        </div>


    </div>
</body>
<script>
    function requiredChk(){
        for(var i=0; i<$('.requiredChk').length; i++){
            var valChk = $('.requiredChk').eq(i).val();
            if(valChk == ''){
                var title = $('.requiredChk').eq(i).attr('title');
                alert(title + '의 값을 입력해주세요.');
                return false;
            }
        }
        return true;
    }

    function goSave(){
        var frm = document.exform;
        if(!requiredChk()){
            return;
        };
        frm.action = '/cms/admin/exUp/cud';
        frm.submit();
    }

    function goCorpDetailMerge(){
        var frm = document.corpForm;
        frm.action = '/cms/admin/mergeCorp';
        frm.submit();
    }

    function goXMLSave(){
        var frm = document.xmlForm;
        console.log("xmlForm 들어감? ");
        frm.action = '/admin/util/dart/corp';
        frm.submit();
    }
</script>
</html>