<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const isAdmin = '[[${isAdmin}]]';
        const isRole = '[[${isRole}]]';
        const roleBasedUrls = '[[${roleBasedUrls}]]';

        console.log(isAdmin + " / "+ isRole);
        console.log('roleBasedUrls : '+roleBasedUrls);
    });

    var isActiveSidebar = true;

    function toggleActiveSidebar() {
        isActiveSidebar = !isActiveSidebar;
        var sidebarDiv = document.getElementById('sidebarDiv');
        if(isActiveSidebar) {
            sidebarDiv.style.display = 'block';
        }else{
            sidebarDiv.style.display = 'none';
        }
    }
</script>
</body>
</html>