<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="writer">
    <h1>
      어드민 메뉴 등록 화면 이라네요
    </h1>
    <form action="#" name="cudForm" th:action="@{/admin/menu/main/cud}" th:object="${menuCudPayload}" th:method="post">
        <input type="hidden" th:field="*{menuId}" value="0">
        <input type="hidden" th:field="*{menuType}">
        <table>
            <tr>
                <td>menuNm</td>
                <td>menuUrl</td>
                <td>parentMenuId</td>
                <td>seq</td>
                <td>useYn</td>
                <td>저장</td>
            </tr>
            <tr>
                <td>
                    <label><input type="text" th:field="*{menuName}" required></label>
                </td>
                <td>
                    <label><input type="text" th:field="*{menuUrl}" required></label>
                </td>
                <td>
                    <label><input type="text" th:field="*{parentId}"></label>
                </td>
                <td>
                    <label><input type="text" th:field="*{seq}"></label>
                </td>
                <td>
                    <label><input type="text" th:field="*{useYn}"></label>
                </td>
                <td>
                    <button type="submit">
                        메뉴등록
                    </button>
                </td>
            </tr>
        </table>
    </form>
</th:block >
</html>