<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>어드민 메뉴 상세화면 입니다.</title>
</head>
<body>
<h1>
    어드민 메뉴 상세화면 이라네요
</h1>

<form action="#" name="cudForm" th:action="@{/admin/menu/cud}" th:object="${menuCudPayload}" th:method="post">
    <input type="hidden" th:field="*{menuId}">
    <input type="hidden" th:field="*{menuType}">
    <table>
        <tr>
            <td>메뉴 이름 : </td>
            <td>
                <label><input type="text" th:field="*{menuName}" required></label>
            </td>
        </tr>
        <tr>
            <td>메뉴 상세 : </td>
            <td>
                <label><input type="text" th:field="*{menuDetail}" required></label>
            </td>
        </tr>
        <tr>
            <td>메뉴 경로 : </td>
            <td>
                <label><input type="text" th:field="*{menuUrl}" required></label>
            </td>
        </tr>
        <tr>
            <td>사용 여부 : </td>
            <td>
                <label><input type="text" th:field="*{useYn}" required></label>
            </td>
            <td>순서 : </td>
            <td>
                <label><input type="text" th:field="*{seq}" required></label>
            </td>
        </tr>
    </table>
    <button type="submit">
        메뉴등록
    </button>
</form>

<!--<th:block th:replace="~{/admin/menu/listPage :: list}"></th:block>-->
<button type="button" th:onclick="|location.href='@{/admin/home/main}'|">
    뒤로가기
</button>

<style>
.menuList {
    width: 100%;
}

.menuList > ul {
    width: 100%;
}

.menuList > ul > li {
    display: inline-block;
    width: 15.6%;
}

#depth2 > ul {
    width: 100%;
}

#depth2 > ul > li {
    display: inline-block;
    width: 15.6%;
}
</style>
</body>
</html>