<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/common/layout/defaultLayout}"
      layout:fragment="content"
>
<head>
    <meta charset="UTF-8">
    <title>어드민 메뉴 화면 입니다.</title>
</head>
<body>
<h1>
  [[${menuCudPayload.menuType}]] 메뉴 화면 이라네요
</h1>

<div class="buttonDiv-row">
    <div class="adminMenuButton" th:each="menuType : ${menuTypes}" >
        <button type="button" th:onclick="goPage([[${menuType.code}]])" th:if="${isRole != 'SYSTEM' && menuType != 'ADMIN'}">
            <span th:text="${menuType.code}">Button Name</span>
        </button>
        <button type="button" th:onclick="goPage([[${menuType.code}]])" th:if="${isRole == 'SYSTEM'}">
            <span th:text="${menuType.code}">Button Name</span>
        </button>
    </div>
</div>

<form action="#" name="cudForm" th:action="@{/admin/menu/main/cud}" th:object="${menuCudPayload}" th:method="post">
    <input type="hidden" th:field="*{menuId}" value="0">
    <input type="hidden" th:field="*{menuType}">
    <table>
        <tr>
            <td>메뉴 명</td>
            <td>메뉴 경로</td>
            <td>부모메뉴 ID</td>
            <td>순서</td>
            <td>사용 여부</td>
            <td>메뉴표시 여부</td>
            <td>저장</td>
        </tr>
        <tr>
            <td>
                <label><input type="text" th:field="*{menuName}" required></label>
            </td>
            <td>
                <label><input type="text" th:field="*{menuUrl}" required></label>
            </td>
            <td>
                <label><input type="text" th:field="*{parentId}"></label>
            </td>
            <td>
                <label><input type="text" th:field="*{seq}"></label>
            </td>
            <td>
                <label><input type="text" th:field="*{useYn}"></label>
            </td>
            <td>
                <label><input type="text" th:field="*{isShowBar}"></label>
            </td>
            <td>
                <button type="submit">
                    메뉴등록
                </button>
            </td>
        </tr>
    </table>
</form>

<table>

</table>
<div class="menuList">
    <ul>
        <li>메뉴 Id</li>
        <li>메뉴 명</li>
        <li>메뉴 경로</li>
        <li>부모메뉴 ID</li>
        <li>순서</li>
        <li>사용 여부</li>
        <li>메뉴표시 여부</li>
        <li>수정</li>
    </ul>
</div>
<div id="depth1" class="menuList">
    <ul th:each="menuResult : ${menuResults}">
        <li><span th:text="${menuResult.menuId}">menuId</span></li>
        <li><span th:text="${menuResult.menuName}">menuNm</span></li>
        <li><span th:text="${menuResult.menuUrl}">menuUrl</span></li>
        <li><span th:text="${menuResult.parentId}">parentId</span></li>
        <li><span th:text="${menuResult.seq}">seq</span></li>
        <li><span th:text="${menuResult.useYn}">useYn</span></li>
        <li><span th:text="${menuResult.isShowBar}">useYn</span></li>
        <li>
            <button type="button"  th:onclick="fillInput(
                [[${menuResult.menuId}]]
                ,[[${menuResult.menuName}]]
                ,[[${menuResult.menuUrl}]]
                ,[[${menuResult.parentId}]]
                ,[[${menuResult.seq}]]
                ,[[${menuResult.useYn}]]
                ,[[${menuResult.isShowBar}]]
            )">
                <span>수정</span>
            </button>
        </li>
        <div id="depth2">
            <ul th:each="childMenu : ${menuResult.childMenu}" >
                <li><span th:text="${childMenu.menuId}">menuId</span></li>
                <li><span th:text="${childMenu.menuName}">menuNm</span></li>
                <li><span th:text="${childMenu.menuUrl}">menuUrl</span></li>
                <li><span th:text="${childMenu.parentId}">parentId</span></li>
                <li><span th:text="${childMenu.seq}">seq</span></li>
                <li><span th:text="${childMenu.useYn}">useYn</span></li>
                <li><span th:text="${childMenu.isShowBar}">useYn</span></li>
                <li>
                    <button type="button"  th:onclick="fillInput(
                        [[${childMenu.menuId}]]
                        ,[[${childMenu.menuName}]]
                        ,[[${childMenu.menuUrl}]]
                        ,[[${childMenu.parentId}]]
                        ,[[${childMenu.seq}]]
                        ,[[${childMenu.useYn}]]
                        ,[[${childMenu.isShowBar}]]
                    )">
                        <span>수정</span>
                    </button>
                </li>
            </ul>
        </div>
    </ul>
</div>

<!--<th:block th:replace="~{/admin/menu/listPage :: list}"></th:block>-->
<button type="button" th:onclick="|location.href='@{/admin/home/main}'|">
    뒤로가기
</button>

<style>
.menuList {
    width: 100%;
}

.menuList > ul {
    width: 100%;
}

.menuList > ul > li {
    display: inline-block;
    width: 12%;
}

#depth2 > ul {
    width: 100%;
}

#depth2 > ul > li {
    display: inline-block;
    width: 12%;
}
</style>

<script>
    function goPage(menuType){
        location.href = "/admin/menu/main/"+menuType;
    }

    function fillInput(
        menuId ,menuName ,menuUrl ,parentId ,seq ,useYn ,isShowBar
    ) {
        const input1 = document.getElementById("menuId");
        const input2 = document.getElementById("menuName");
        const input3 = document.getElementById("menuUrl");
        const input4 = document.getElementById("parentId");
        const input5 = document.getElementById("seq");
        const input6 = document.getElementById("useYn");
        const input7 = document.getElementById("isShowBar");

        input1.value = menuId;
        input2.value = menuName;
        input3.value = menuUrl;
        input4.value = parentId;
        input5.value = seq;
        input6.value = useYn;
        input7.value = isShowBar;
    }
</script>
</body>
</html>