<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Unauthorized</title>
</head>
<body>
<h1>Unauthorized</h1>
<p th:text="${message}">You are not authorized to access this page.</p>


<script th:inline="javascript">
    /* 타임리프 변수를 JavaScript 변수로 전달 */
    let statusCode = /*[[${statusCode}]]*/ "500";
    let errorCode = /*[[${errorCode}]]*/ "Auth.500.00";
    let message = /*[[${message}]]*/ "Auth Error";
    let refreshTokenUrl = "/auth/refresh";
    let loginUrl = "/auth/login";

    document.addEventListener('DOMContentLoaded', function() {
        // 페이지가 로드되자마자 실행될 JavaScript 코드
        sendRedirect();
    });

    function sendRedirect() {
        if(statusCode == "500"){
            if(errorCode.indexOf("JwtAuth") > -1 ) {
                if(confirm(message + "\n로그인 연장 하시겠습니까?")){
                    let form = document.createElement("form");
                    form.setAttribute("method","post");
                    form.setAttribute("action",refreshTokenUrl);
                    document.body.appendChild(form);
                    form.submit();
                }else{
                    location.href(loginUrl);
                }
            }else{
                alert("원인 미상의 에러코드입니다."+errorCode);
            }
        }else{
            alert("원인 미상의 상태코드입니다."+statusCode);
        }
    }
</script>
</body>
</html>